@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Mono:wght@100;400&family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Mono:wght@500;400&family=Ubuntu&display=swap");

*,
*::before,
*::after {
  outline: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #0a192f;
}

body::-webkit-scrollbar-thumb {
  background-color: #8892b0;
  border-radius: 20px;
}

.app {
}

body {
  color: #333;
  background-color: #0a192f;
}

.navbar {
  display: flex;
  justify-self: flex-end;
  margin: 8px;
  order: 2;
}
.navbar li a {
  color: #bac5dd;
  text-decoration: none;
  font-family: "Roboto Mono";
  font-size: small;
  margin-left: -0.75rem;
}
.navbar li {
  margin-right: 2rem;
  margin-top: 2rem;
  display: inline-block;
  color: #61f8d5;

  font-size: small;
  font-family: "Roboto Mono";
}

.top-row {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top:0;
  width: 100%;
  transition-property: all; 
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;

  /* blur */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

}
.top-row.hide{
  top: -6rem;
}
.top-row button {
  background-color: #0a192f;
}

.verticalNavbar {
  color: #61f8d5;
  text-decoration: none;
  position: fixed;
  bottom: 0;
  left: 0;
  margin-left: 3%;
}

.resume-button {
  color: #61f8d5;
  border: 1px solid #61f8d5;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 18px;
  padding-left: 18px;

  align-items: center;
  margin-top: 2rem;
  margin-left: 0rem;
  margin-right: 4rem;
  font-family: "Roboto Mono";
  transition: background-color 0.2s ease-in-out;
}
.resume-button:hover {
  background-color: #133040;
  transition: background-color 0.2s ease-in-out;
}
.logo_main {
  display: flex;
  justify-content: flex-start;
  margin-top: 2rem;
  margin-left: 3rem;
  width: 2.7rem;
  height: 2.7rem;
}
.navbar_resume {
  display: flex;
  justify-content: flex-end;
}

.d-f {
  display: flex;
}
.icon-vertical-navbar {
  margin-bottom: 2rem;
  width: 20px;
  height: 20px;
  color: #bac5dd;
  transition: transform 0.2s ease-in-out;
}
.icon-vertical-navbar:hover {
  color: #61f8d5;
  transform: translateY(-5px);
}
.EmailInformation {
  color: #bac5dd;
}
.EmailInformationMain {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 3%;
}

.Email {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  margin-bottom: 1rem;
  transition: transform 0.2s ease-in-out;
  font-family: "Roboto Mono";
  color: #bac5dd;
  font-size: 15px;
}
.Email:hover {
  margin-bottom: 1rem;
  transform: translateY(-5px);
  color: #61f8d5;
}
.main {
  margin-left: 16%;
  margin-top: 6%;

  font-family: "Roboto Mono";
}
.intro {
  color: #61f8d5;
}
.name_main {
  font-size: 4.5rem;
  color: #ccd6f6;
  font-weight: bolder;
  font-family: "Roboto";
  margin-top: 1rem;
}
.task_main {
  color: #8892b0;
  font-family: "Roboto";
  font-size: 3.5rem;
}
.about_main {
  margin-top: 2rem;
  color: #8892b0;
  max-width: 50rem;
  font-family: "Roboto";
  line-height: 1.5rem;
}
.action_button_main {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 36px;
  padding-left: 36px;
  border-radius: 4px;
  border: 1px solid #61f8d5;
  color: #61f8d5;
  margin-top: 3rem;
  font-family: "Roboto Mono";
  background-color: #0a192f;
  transition: background-color 0.2s ease-in-out;
}
.action_button_main:hover {
  background-color: #133040;
  transition: background-color 0.2s ease-in-out;
}

.about_me {
  margin-top: 16rem;
  margin-left: 20%;
  color: #61f8d5;
}
.about_me_head {
  font-size: 1.5rem;
  font-family: "Roboto";
  font-weight: bolder;
  color: #bac5dd;
}
.about_me_head span {
  font-size: 1.5rem;
  font-family: "Roboto Mono";
  font-weight: bolder;
  color: #61f8d5;
}
.about_me_inner {
  display: flex;
  width: 40rem;
  line-height: 1.5rem;
}
.about_me_about {
  font-size: 1rem;
  margin-top: 2rem;
  color: #8892b0;
  max-width: 50rem;
  font-family: "Roboto";
  line-height: 1.5rem;
  font-weight: 100;
  min-width: 35rem;
  margin-right: 2rem;
}
.about_me_image{
  height: 20rem;
  width: 20rem;
  margin-top: 2rem;
  margin-right: 1rem;
  border-radius: 8px;
}
.skill_bullet{
  line-height: 12px;
  margin-top: 6px;
}
.skill_ul{
  margin-top:1rem;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}
.Experience{
  margin-top: 16rem;
  margin-left: 24%;
  color: #bac5dd;
  font-family: 'Roboto';
  font-size: 1.5rem;

}
.Experience span{
  color: #61f8d5;
  font-family: 'Roboto Mono';
  font-size: 1.5rem;
}
.Experience_inner{

}
@media (max-width: 770px) {

}
