@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Mono:wght@100;400&family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Mono:wght@500;400&family=Ubuntu&display=swap");

*,
*::before,
*::after {
  outline: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #0a192f;
}

body::-webkit-scrollbar-thumb {
  background-color: #8892b0;
  border-radius: 20px;
}

.app {
  width: 100%;
  display: flex;
  flex-direction: column;
}

body {
  color: #333;
  background-color: #0a192f;
}

.navbar {
  display: flex;
  justify-self: flex-end;
  margin: 8px;
  order: 2;

  /* blur */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.navbar li a {
  color: #bac5dd;
  text-decoration: none;
  font-family: "Roboto Mono";
  font-size: small;
  margin-left: -0.75rem;
}
.navbar li {
  margin-right: 2rem;
  margin-top: 2rem  ;
  display: inline-block;
  color: #61f8d5;

  font-size: small;
  font-family: "Roboto Mono";
}

.top-row {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top:0;
  width: 100%;
  transition-property: all; 
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
  object-fit: contain;
  z-index: 5;

  /* blur */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

}
.top-row.hide{
  top: -6rem;
}
.top-row button {
  background-color: #0a192f;
}

.verticalNavbar {
  color: #61f8d5;
  text-decoration: none;
  position: fixed;
  bottom: 0;
  left: 0;
  margin-left: 3%;
}

.resume-button {
  color: #61f8d5;
  border: 1px solid #61f8d5;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 18px;
  padding-left: 18px;

  align-items: center;
  margin-top: 2rem;
  margin-left: 0rem;
  margin-right: 4rem;
  font-family: "Roboto Mono";
  transition: background-color 0.3s ease-in-out;
}
.resume-button:hover {
  background-color: #133040;
  transition: background-color 0.3s ease-in-out;
}
.logo_main {
  display: flex;
  justify-content: flex-start;
  margin-top: 2rem;
  margin-left: 3rem;
  width: 2.7rem;
  height: 2.7rem;
}
.navbar_resume {
  display: flex;
  justify-content: flex-end;
}

.d-f {
  display: flex;
}
.icon-vertical-navbar {
  margin-bottom: 2rem;
  width: 20px;
  height: 20px;
  color: #bac5dd;
  transition: transform 0.3s ease-in-out;
}
.icon-vertical-navbar:hover {
  color: #61f8d5;
  transform: translateY(-5px);
}
.EmailInformation {
  color: #bac5dd;
}
.EmailInformationMain {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 3%;
}

.Email {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  margin-bottom: 1rem;
  transition: transform 0.3s ease-in-out;
  font-family: "Roboto Mono";
  color: #bac5dd;
  font-size: 15px;
}
.Email:hover {
  margin-bottom: 1rem;
  transform: translateY(-5px);
  color: #61f8d5;
}
.main {
  margin-left: 12%;
  margin-top: 6%;
  margin-right: 16%;
  font-family: "Roboto Mono";
}
.intro {
  color: #61f8d5;
}
.name_main {
  font-size: 4.5rem;
  color: #ccd6f6;
  font-weight: bolder;
  font-family: "Roboto";
  margin-top: 1rem;
}
.task_main {
  color: #8892b0;
  font-family: "Roboto";
  font-size: 3.5rem;
}
.about_main {
  margin-top: 2rem;
  color: #8892b0;
  font-family: "Roboto";
  line-height: 1.5rem;
}
.action_button_main {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 36px;
  padding-left: 36px;
  border-radius: 4px;
  border: 1px solid #61f8d5;
  color: #61f8d5;
  margin-top: 3rem;
  font-family: "Roboto Mono";
  background-color: #0a192f;
  transition: background-color 0.3s ease-in-out;
}
.action_button_main:hover {
  background-color: #133040;
  transition: background-color 0.3s ease-in-out;
}

.about_me {
  margin-top: 20%;
  margin-left: 16%;
  margin-right: 16%;
  color: #61f8d5;
  width: 45%;
}
.about_me_head {
  font-size: 1.5rem;
  font-family: "Roboto";
  font-weight: bolder;
  color: #bac5dd;
}
.about_me_head span {
  font-size: 1.5rem;
  font-family: "Roboto Mono";
  font-weight: bolder;
  color: #61f8d5;
}
.about_me_inner {
  display: flex;
  line-height: 1.5rem;
}
.about_me_about {
  font-size: 1rem;
  margin-top: 2rem;

  color: #8892b0;
  font-family: "Roboto";
  line-height: 1.5rem;
  font-weight: 100;
  margin-right: 2rem;
}
.about_me_image{
  margin-top: 2rem;
  border-radius: 8px;
  z-index: 1;
}
.about_me_img_gradient{
  height: 20rem;
  width: 20rem;
  margin-top: 2rem;
  margin-right: 1rem;
  background-color: rgba(61,248,213,0.25);
  border-radius: 8px;
  position: absolute;
  z-index: 2;

  transition: background-color 0.3s ease-in-out;
}
.about_me_img_gradient:hover{
  background-color: rgba(61,248,213,0);
  transition: background-color 0.3s ease-in-out;
}

.about_me_img_border{
  border: 4px solid #61f8d5;
  border-radius: 8px;
  width: 20rem;
  height: 20rem;
  position: absolute;
  margin-top: 1rem;
  margin-left: 2rem;
  transition: margin 0.3s ease-in-out;

}
.about_me_img_gradient:hover ~ .about_me_img_border{

  margin-top: 0rem;
  margin-left: 1rem;
  transition: margin 0.3s ease-in-out;
}
.about_me_image_container{
  position: relative;
}
.skill_bullet{
  line-height: 12px;
  margin-top: 6px;
}
.skill_ul{
  margin-top:1rem;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}
.Experience{
  margin-top: 16rem;
  margin-left: 24%;
  color: #bac5dd;
  font-family: 'Roboto';
  font-size: 1.5rem;

}
.Experience span{
  color: #61f8d5;
  font-family: 'Roboto Mono';
  font-size: 1.5rem;
}
.Experience_inner{

}

.projects{
  margin-top: 16rem;
  margin-left: 16%;
  margin-right: 16%;
  color: #bac5dd;
  font-family: 'Roboto';
  font-size: 1.5rem;
  font-weight: bolder;
}
.projects span{
  color: #61f8d5;
  font-family: 'Roboto Mono';
  font-size: 1.5rem;
}
.project{
  position: relative;
  margin-top: 2rem;
  margin: 12% 0 0 0 ;
  width: 100%;
  height: 20rem;
}
.project_image{
    width:70%;
    height: 37vh;
    border-radius: 8px;
    /* top:0;
    left:0; */
    position: absolute;
}
.project_overline{
  font-family: "Roboto Mono";
  color: #61f8d5;
  font-size: 0.9rem;
  text-align: end;
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}
.project_image_gradient{
  background-color: rgba(61,248,213,1);
  transition: background-color 0.3s ease-in-out;
}
.left{
  left:0;
}
.right{
  right:0;
}
.flex-end{
    display: flex;
    justify-content: flex-end;
}
.text_align--left{
  text-align: start!important;

}
.project_desc{
  position: absolute;
  /* top:0; */
  /* right:0; */
  padding: 1rem;
  text-align: end;
  align-items: center;
  max-width: 60%;
}
.project_title{

  text-align: end;
  padding-right: 1rem;
  font-size: 1em;
}
.project_description{
  background-color: #112240;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 3rem;
  font-size: small;
  font-weight: 100;
  margin-top: 0.8rem;
  border-radius: 8px;

}
.project_skills{
  padding: 0.7rem;

}
.project_skill{
  padding: 0.7rem;
  display: inline-block;
  font-size: small;
  font-weight: 100;
  font-family: "Roboto";

}
.project_button{
  color: #61f8d5;
  border: 1px solid #61f8d5;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 18px;
  padding-left: 18px;

  align-items: center;
  margin-top: 1rem;
  margin-left: 0rem;
  margin-right: 1rem;
  background-color: #0a192f;

  font-family: "Roboto Mono";
  transition: background-color 0.3s ease-in-out;
}
.project_button:hover{
  background-color: #133040;
  transition: background-color 0.3s ease-in-out;
}
.projects_ul{
  display: flex;
  flex-direction: column;
  width: 100%;

}
.projects_li{
  width: 100%;

}

.contact_me{
    display: flex;
    margin: 20% 16% 20% 16%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact_me_overline{
  font-size: 1rem;
  font-family: "Roboto Mono";
  font-weight: bolder;
  color: #61f8d5;
}
.contact_me_overline_two{
  font-size: 3rem;
  font-family: "Roboto";
  font-weight: bolder;
  color: #ccd6f6;
  margin: 1rem 0 1rem 0;
}
.contact_me_desc{
  font-size: 1rem;
  font-family: "Roboto";
  font-weight: 100;
  color: #bac5dd;
  margin: 0 16% 3rem 16%;
  text-align: center;

}
.contact_me_button{
  padding: 10px 18px 10px 18px;
  background-color: #112240;
  color: #61f8d5;
  border: 1px solid #61f8d5;
  border-radius: 4px;
  font-family: "Roboto Mono";

}

@media (max-width: 770px) {

}
